@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Press+Start+2P&family=Sriracha&display=swap');


:root{

    --fonte-destaque: 'Passion One', cursive;
    --fonte-poema: 'Sriracha', cursive;
    --fonte-padrao:  Verdana, Tahoma, sans-serif;

}

*{
    margin: 0px;
    padding: 0px;
}

header{ 
    background-color: black;

}

h1{
    color: white;
    text-align: center;
    font-family: var(--fonte-destaque);
    font-variant: small-caps;
    font-size: 20vh;
    padding-top: 50px;
}

header p{
    text-align: center;
    font-family: var(--fonte-padrao);
    font-size: 1em;
    color:white;
    padding-bottom: 50px;

}

header a{
    text-decoration: none;
    color:white;
    font-weight: bold;
}

header a:hover{
    text-decoration: underline;
    text-decoration-color: white ;
}

p{
    text-align: left;
    font-family: var(--fonte-poema);
    font-size: 3em;
    line-height: 2em;
    margin-left: 30px;
}



.primeiro-paralax{
    display: block;
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.texto-primeiro-paralax{
    color: white;
    background-color: rgba(0, 0, 0, 0.527);
    width: 600px;

}

.segundo-paralax{
    display: block;
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.texto-segundo-paralax{
    color: white;
    background-color: rgba(0, 0, 0, 0.527);
    width: 600px;
}


footer{

    background-color: black;
    color: white;
    padding: 5px;
    
}

footer p{
    font-family: var(--fonte-padrao);
    text-align: center;
    font-size: 0.8em;
}

.rodape-link{
    color: white;
    font-weight: bold;
}