@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header{
    font-weight: bolder;
    padding-top: 5px;
}

.cabeçalho{
    font-size: 200%;
}

body{
    background-color: #363636
}

.pokecard{
    position: relative;
    background-color: #9B9B9B;
    width: 250px;
    height: 300px;
    margin: 20px;
    box-shadow: 2px 1px 10px #00000085;
    border-radius: 10%;
    display: inline-block;
    padding: 5px;
}

.pokecard:hover{
    padding: 10px;
    border-radius: 10%;
    box-shadow: 3px 2px 15px #00000085;

}

.pokename {
    font-weight: bolder;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%);
    text-align: left;
    border: 1px solid white;
    width: 170px;
    border-radius: 10px;
    padding: 2px;
}

.poketag{
    position: absolute;
    left: 78%;
    text-align: right;

}

.pokegif{
    position: absolute;
    top: 400%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.poketype{
    position: absolute;
    top: 700%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #BA6E33;
    padding: 5px;
    border-radius: 10px;
}

.pokewiki{
    position: absolute;
    top: 1100%;
    left: 50%;
    transform: translate(-50%, -50%);

    letter-spacing: 1px;

    height:100px;
    width:220px;
    overflow:auto;

}


::-webkit-scrollbar {
    width: 8px;
    height: 1px;
    }
    
    ::-webkit-scrollbar-track {
    background-color: gray;

    }

    ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.459); 
    border-radius: 10px;
    }
